* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2E3235;
}
button {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  height: 40px;
  padding: 0 20px;
  border-radius: 100px;
  transition: 0.2s ease;
}
.active {
  color: white;
  background-color: #2E3235;
}

button:hover {
  color: white;
  background-color: #2E3235;
  transition: 0.2s ease;
}
input {
  border: none;
  outline: none;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 10px ;
}
input:focus {
  border: 1px solid #2E3235;
}
#wrap {
  margin: 0 auto;
  width: 1024px;
  min-height: 100dvh;
  background-color: white;
  padding: 30px;
}
header {
  text-align: center;
  padding: 20px 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_image {
  margin-bottom: 30px;
}
.content {
  width: 400px;
  height: 400px;
  padding: 20px;
  display: table-cell;
  vertical-align: bottom;
  color: white;
  background-image: url('https://images.unsplash.com/photo-1518156677180-95a2893f3e9f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.content_before_dark::before{
  content: "";
  opacity: 0.4;
  background-color: #000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom:0px;
  position: absolute;
}
.hidden {
  display: none;
}
.content_title {
  font-size: 32px;
  padding: 3px 0;
  position: relative;
}
.content_subtitle {
  font-size: 18px;
  padding: 3px 0;
  position: relative;
}
.content_detail {
  font-size: 15px;
  padding: 3px 0;
  position: relative;
}
.content_editor {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-top: 7px;
  position: relative;
}
.txt_shadow{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.txt_reverse{
  color: #000;
}
.save_reset {
  margin-top: 13px;
  text-align: center;
}
.input_area{
  text-align: center;
  margin-bottom: 17px;
}
.ele {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.label {
  width: 180px;
  margin-bottom: 7px;
}
.title_subTitle {
  margin-bottom: 7px;
}

footer {
  text-align: end;
}